@model UserDetailsRenderModel

@if (Model.HasValue())
{
	using (Html.BeginForm("Save", "User", FormMethod.Post))
	{
		<div class="tr">
			<div class="td accordion" data-accordion>@Model.FullName</div>
			<div class="td" style="flex-grow:3;justify-content: center;">
				@Html.TextBoxFor(m => m.FullName, new { placeholder = Model.DisplayName(x => x.FullName) })
			</div>
			<div class="td" style="flex-grow:2; justify-content: center;">
				@Html.DropDownListFor(m => m.CompanyId, Model.CompanyList, "Izaberi kompaniju")
			</div>
			<div class="td" style="flex-grow:3;justify-content: center;">
				@Html.TextBoxFor(m => m.Email, new { placeholder = Model.DisplayName(x => x.Email) })
			</div>
			<div class="td"
				 style="flex-grow:2;justify-content: center;">
				<a class="table__btn" href="@Url.Action("ResetPasswordForUser","Authorization", Model.Email)">Resetuj</a>
			</div>
			<div class="td"
				 style="justify-content: center;">
				<label class="container">
					@Html.CheckBoxFor(m => m.IsActive)
					<span class="checkmark"></span>
				</label>
			</div>
			<div class="td"
				 style="justify-content: center;">
				<div class="order__table-operations">
					<button type="submit" class="save font-ico-save"></button>
					<button type="submit" class="delete font-ico-delete"></button>
				</div>
			</div>
		</div>
	}
}
