@model LoginViewModel

@{
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="login">
	<div class="login__box">
		<a href="/">
			<img src="~/assets/images/logo.png" alt="" class="login__logo">
		</a>
		@using (Html.BeginForm("Index", "Authorization", FormMethod.Post, new { @class = "login__form" }))
		{
			@Html.AntiForgeryToken()

			<ul class="login__list">
				<li class="login__item">
					@Html.TextBoxFor(x => x.Email, new { placeholder = Model.DisplayName(x => x.Email) })
					@Html.ValidationMessageFor(x => x.Email)
				</li>
				<li class="login__item">
					@Html.PasswordFor(x => x.Password, new { placeholder = Model.DisplayName(x => x.Password) })
					@Html.ValidationMessageFor(x => x.Password)
				</li>
				@if(TempData[Constants.RESPONSE_MESSAGE] != null)
				{
					<li class="login__item">
						<p>@TempData[Constants.RESPONSE_MESSAGE]</p>
					</li>
				}
			</ul>

			<button type="submit" class="login__btn btn">Prijavi se</button>
		}
		<a href="@Url.Action("ForgotPassword", "Authorization")" class="login__link">Zaboravili ste lozinku?</a>
	</div>
</div>



