@model ResetPasswordViewModel

@{
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="login">
	<div class="login__box">
		<a href="/">
			<img src="~/assets/images/logo.png" alt="" class="login__logo">
		</a>
		@using (Html.BeginForm("ResetPassword", "Authorization", FormMethod.Post, new { @class = "login__form" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(x => x.Token)
		<ul class="login__list">
			<li class="login__item">
				@Html.PasswordFor(x => x.NewPassword, new { placeholder = Model.DisplayName(x => x.NewPassword) })
				@Html.ValidationMessageFor(x => x.NewPassword)
			</li>
			<li class="login__item">
				@Html.PasswordFor(x => x.RepeatPassword, new { placeholder = Model.DisplayName(x => x.RepeatPassword) })
				@Html.ValidationMessageFor(x => x.RepeatPassword)
			</li>
		</ul>
			<button type="submit" class="login__btn btn">Resetuj lozinku</button>
		}
	</div>
</div>



