@model MealDetailsRenderModel

@if (Model.HasValue())
{
	<div class="accordion__item">
		<div class="accordion" data-accordion><span>@(Model.Name.HasValue() ? Model.Name : Model.DisplayName(x => x.Name))</span></div>
			@using (Html.BeginForm("Save", "Meal", FormMethod.Post, new { @class= "accordion__content", style = "display:none;" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.Id)
				@Html.HiddenFor(x => x.Version)


				<div class="col-4">
					<div class="field">
						@Html.LabelFor(x => x.Name)
						@Html.TextBoxFor(x => x.Name, new { placeholder = Model.DisplayName(x => x.Name) })
					</div>
					<div class="field">
						@Html.LabelFor(x => x.Price)
						@Html.TextBoxFor(x => x.Price, new { placeholder = Model.DisplayName(x => x.Price), type = "number", min = 0 })
					</div>
				</div>
				<div class="col-4">
					<div class="field">
						@Html.LabelFor(x => x.CategoryId)
						@Html.DropDownListFor(x => x.CategoryId, Model.CategoryList, "Izaberi kategoriju")
					</div>
					<div class="accordion__buttons float-right">
						<button type="submit" class="save font-ico-save"></button>
						<button type="submit" class="delete font-ico-delete"  formethod="post" formaction="@Url.Action("Delete", "Meal")"></button>
					</div>
				</div>
				<div class="col-4">
					<div class="field">
						<label>Porcije:</label>
						<select>
							<option value="" selected disabled hidden>Dodaj jelo</option>
							<option value="1">Prva</option>
							<option value="2">Druga</option>
							<option value="3">Treca</option>
						</select>
					</div>
				</div>
			}
		</div>
}
