@model MealDetailsRenderModel

@if (Model.HasValue())
{
    <div class="accordion__item">
        <div class="accordion" data-accordion><span>@(Model.Name.HasValue() ? Model.Name : Model.DisplayName(x => x.Name))</span></div>
        @using (Ajax.BeginForm("Save", "Meal", null, new AjaxOptions { HttpMethod = "POST", OnComplete = "location.reload();" }, new { @class = "accordion__content", style = "display:none;" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Version)


            <div class="col-4">
                <div class="field">
                    @Html.LabelFor(x => x.Name)
                    <div class="validation__wrapper">
                        @Html.TextBoxFor(x => x.Name, new { placeholder = Model.DisplayName(x => x.Name) })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    @Html.LabelFor(x => x.CategoryId)
                    <div class="validation__wrapper">
                        @Html.DropDownListFor(x => x.CategoryId, Model.CategoryList, "Izaberi kategoriju")
                        @Html.ValidationMessageFor(x => x.CategoryId)
                    </div>
                </div>
                <div class="accordion__buttons float-right">
                    <button type="submit" class="save font-ico-save"></button>
                    <button type="submit" class="delete font-ico-delete" formethod="post" formaction="@Url.Action("Delete", "Meal")"></button>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    @Html.LabelFor(m => m.PortionsList)
                    @Html.DropDownListFor(m => m.PortionsList, Model.PortionsList, "Dodaj porciju")
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.MealPortions)
                    @Html.HiddenFor(m => m.MealPortionsObjects)
                    <ul class="js-meal-portions">
                        @if (Model.MealPortions.HasValue())
                        {
                            foreach (var portion in Model.MealPortions)
                            {
                                <li>
                                    <span data-portionid="@portion.Value">@portion.Text</span>
                                    <input type="number" min="0" class="js-portion-price" />
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}
