@model OrderDetailsRenderModel

@if (Model.HasValue())
{
    <div class="tr">
        <div class="td accordion" data-accordion>Izaberi jelo</div>
        <div class="td" style="flex-grow: 2;">
				@Html.DropDownListFor(x => x.CategoryId, Model.CategoryList, "Izaberite kategoriju", new { data_category = "" })
        </div>
		<div class="td" style="flex-grow:3; justify-content: center;">
			@Html.DropDownListFor(x => x.MealId, Model.MealList, "Izaberite obrok")
		</div>
        <div class="td" style="flex-grow: 2; justify-content: center;">
            @Html.DropDownListFor(x => x.PortionId, Model.PortionList, "Izaberite veličinu porcije")
        </div>
        <div class="td" style="flex-grow:3;justify-content: center;">
            @Html.TextBoxFor(x => x.Comment, new { placeholder = Model.DisplayName(x => x.Comment) })
        </div>
        <div class="td" style="justify-content: center;">
            @Html.DropDownListFor(x => x.Quantity, Constants.QuantityList)
        </div>
        <div class="td" style="justify-content: center;">
            <input type="text" class="time-picker" />
        </div>
        <div class="td" style="justify-content: center;">
            <input type="text" disabled  value="@Model.Total"/>
        </div>
        <div class="td" style="justify-content: center;">
            <div class="order__table-operations">
                <button type="submit" class="save font-ico-save"></button>
                <button type="submit" class="delete font-ico-delete"></button>
            </div>
        </div>
    </div>
}