@model ReportViewModel

<form>
    @Html.DropDownListFor(m => m.CompanyId, Model.Companies, "Sve kompanije")
    @Html.DropDownListFor(m => m.CategoryId, Model.Categories, "Sve kategorije")
    @Html.DropDownListFor(m => m.PortionId, Model.Portions, "Sve porcije")
    @Html.DropDownListFor(m => m.MealId, Model.Meals, "Svi obroci")
    @Html.DropDownListFor(m => m.UserId, Model.Users, "Svi korisnici")
    @Html.TextBoxFor(m => m.StartDate, new { type = "date" })
    @Html.TextBoxFor(m => m.EndDate, new { type = "date" })
    <button class="js-filter-reports" style="color: black;">Filtriraj</button>
    <button type="reset" style="color: black;">Reset</button>
</form>
<div class="js-report-results"></div>
@section additionalFooter
{
    <script type="text/javascript" src="~/js/reports.js" defer></script>
}
