@model ReportViewModel

<form>
    <div class="filter">
        <div class="col-3">
            <div class="filter__item">
                <span class="filter__text">Kompanija: </span>
                @Html.DropDownListFor(m => m.CompanyId, Model.Companies, "Sve kompanije")
            </div>
            <div class="filter__item">
                <span class="filter__text">Kategorija: </span>
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories, "Sve kategorije")
            </div>
        </div>
        <div class="col-3">
            <div class="filter__item">
                <span class="filter__text">Porcija: </span>
                @Html.DropDownListFor(m => m.PortionId, Model.Portions, "Sve porcije")
            </div>
            <div class="filter__item">
                <span class="filter__text">Obrok: </span>
                @Html.DropDownListFor(m => m.MealId, Model.Meals, "Svi obroci")
            </div>
        </div>
        <div class="col-3">
            <div class="filter__item">
                <span class="filter__text">Od: </span>
                @Html.TextBoxFor(m => m.StartDate, new { type = "date" })
            </div>
            <div class="filter__item">
                <span class="filter__text">Do: </span>
                @Html.TextBoxFor(m => m.EndDate, new { type = "date" })
            </div>
        </div>
        <div class="col-3">
            <div class="filter__item">
                <span class="filter__text">Korisnik: </span>
                @Html.DropDownListFor(m => m.UserId, Model.Users, "Svi korisnici")
            </div>
            <div class="filter__item">
                <button class="js-filter-reports"><span class="font-ico-search"></span></button>
                <button type="reset">Reset</button>
            </div>
        </div>
    </div>


</form>
<div class="table__wrapper js-report-results"></div>
@section additionalFooter
{
    <script type="text/javascript" src="~/js/reports.js" defer></script>
}
